.bg-light {
    
    background-color: #102A3E !important;
  }
  .col-form-label{
    color: #fff !important;
    font-family: inter ;
  }
  body{
    background-color: rgba(207, 210, 207, 0.5) !important;
  }
  .btn-light{
    text-align: center !important;
    background-color:rgba(2, 172, 49, 1);
    border: none;
  }
  img{
    width: 70px;
  }
  .fw-light{
font-family: Malte ;
  }